<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>

    <h1>Mi Pagina</h1>
    <a href="/DS3"><img src="{% static 'images/DS3.jpg'%}" alt="DS3"></a>
    <a href="/P3R"><img src="{% static 'images/P3R.jpg'%}" alt="P3R"></a>
    <a href="/MH"><img src="{% static 'images/MH.jfif'%}" alt="MHW"></a>
</body>
</html>